@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: "Pretendard Variable", Pretendard, "Roboto", sans-serif;
  --font-en: "Roboto", sans-serif;
  
  /* Brand */
  --color-primary: #3049c0;
  --color-primary-side: #788ade;

  --color-secondary: #e9f0f6;
  --color-bg: #fbfaf9;

  --color-warning: #ff6e73;
  --color-alert: #62b0ff;

  /* Gray scale */
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #cccccc;
  --color-gray-400: #b3b3b3;
  --color-gray-500: #999999;
  --color-gray-600: #7f7f7f;
  --color-gray-700: #666666;
  --color-gray-800: #4c4c4c;
  --color-gray-900: #333333;
}