@import "tailwindcss";

@theme {
  --font-sans-pretendard: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-sans-roboto: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}