/* index.css */

@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");


.book-desc-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 책 소개: 3줄 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-toc-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 목차: 5줄 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-desc-expanded,
.book-toc-expanded {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: visible;
}


/* 디자인 토큰 정의 */
@theme {
  /* 폰트 패밀리 */
  --font-sans: "Pretendard Variable", Pretendard, "Roboto", sans-serif;
  --font-en: "Roboto", sans-serif;

  /* 브랜드 컬러 */
  --color-primary: #3049c0;
  --color-primary-side: #788ade;

  --color-lightblue-1: #e9ebf4;
  --color-lightblue-2: #e4e5f0;
  --color-lightblue-3: #788ADE26;

  --color-bg: #fbfaf9;

  --color-warning: #ff6e73;
  --color-warning-bg: #ff6e731a;

  /* 그레이 스케일 */
  --color-gray-100: #efedeb;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #cdcccb;
  --color-gray-400: #b4b3b1;
  --color-gray-500: #9b9a97;
  --color-gray-600: #81807f;
  --color-gray-700: #676665;
  --color-gray-800: #4d4d4c;
  --color-gray-900: #262626;

  --color-black: #0a0a0a;
  --color-b-op15: #00000026;
  --color-b-op40: #00000066;
  --color-b-op60: #00000099;

  /* font-weight 토큰 */
  --fw-sb: 600; /* SemiBold */
  --fw-m: 500;  /* Medium */
  --fw-r: 400;  /* Regular */
}

/* 공통 유틸리티 */
@layer utilities {
  /* 스크롤바 제거 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* ===== 타이포그래피 유틸 ===== */
  .text-head {
    font-family: var(--font-sans);
    font-size: 24px;
    font-weight: var(--fw-sb);
    line-height: 1.2; 
  }

  .text-title-01 {
    font-family: var(--font-sans);
    font-size: 20px;
    font-weight: var(--fw-sb);
    line-height: 1.2;
  }

  .text-title-02 {
    font-family: var(--font-sans);
    font-size: 18px;
    font-weight: var(--fw-sb);
    line-height: 1.2;
  }

  .text-subtitle-01-sb {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: var(--fw-sb);
    line-height: 1.4; 
  }

  .text-subtitle-01-m {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }

  .text-subtitle-02-sb {
    font-family: var(--font-sans);
    font-size: 15px;
    font-weight: var(--fw-sb);
    line-height: 1.4;
  }

  .text-subtitle-02-m {
    font-family: var(--font-sans);
    font-size: 15px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }

  .text-body-01-sb {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: var(--fw-sb);
    line-height: 1.4;
  }

  .text-body-01-m {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }

  .text-body-02 {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: var(--fw-m);
    line-height: 1.6;
  }

  .text-body-03 {
    font-family: var(--font-sans);
    font-size: 13px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }

  .text-caption-01 {
    font-family: var(--font-sans);
    font-size: 12px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }

  .text-caption-02 {
    font-family: var(--font-sans);
    font-size: 11px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }

  /* en */
  .text-en-head {
    font-family: var(--font-en) !important;
    font-size: 24px;
    font-weight: var(--fw-sb);
    line-height: 1.2;
  }
  .text-en-title-01 {
    font-family: var(--font-en) !important;
    font-size: 20px;
    font-weight: var(--fw-sb);
    line-height: 1.2;
  }
  .text-en-title-02 {
    font-family: var(--font-en) !important;
    font-size: 18px;
    font-weight: var(--fw-sb);
    line-height: 1.2;
  }
  .text-en-subtitle-01 {
    font-family: var(--font-en) !important;
    font-size: 16px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }
  .text-en-subtitle-02 {
    font-family: var(--font-en) !important;
    font-size: 15px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }
  .text-en-body-01 {
    font-family: var(--font-en) !important;
    font-size: 14px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }
  .text-en-body-02 {
    font-family: var(--font-en) !important;
    font-size: 13px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }
  .text-en-caption-01 {
    font-family: var(--font-en) !important;
    font-size: 12px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }
  .text-en-caption-02 {
    font-family: var(--font-en) !important;
    font-size: 11px;
    font-weight: var(--fw-m);
    line-height: 1.4;
  }
}
